<mat-chip-list aria-label="Fish selection">
  <mat-chip color="primary" appExpandMenu>Activity</mat-chip>
  <mat-chip color="primary" appExpandMenu>Chatter</mat-chip>
  <mat-chip color="primary" appExpandMenu>Stage History</mat-chip>
</mat-chip-list>



<app-fmp-tero-card>
  <div class="header">Details</div>
  <div class="main">
    <div>
      <label>Opportunity Owner</label>
      <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
        <input matInput placeholder="Recap your call" value="">
      </mat-form-field>
    </div>
    <div>
      <label>Opportunity Name</label>
      <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
        <input matInput placeholder="Recap your call" value="">
      </mat-form-field>
    </div>
    <div>
      <label>Account Name</label>
      <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
        <input matInput placeholder="Recap your call" value="">
      </mat-form-field>
    </div>
    <div>
      <label>Type</label>
      <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
        <input matInput placeholder="Recap your call" value="">
      </mat-form-field>
    </div>
    <div>
      <label>Close Date</label>
      <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
        <input matInput placeholder="Recap your call" value="">
      </mat-form-field>
    </div>
    <div>
      <label>Stage</label>
      <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
        <input matInput placeholder="Recap your call" value="">
      </mat-form-field>
    </div>
    <div>
      <label>Probability</label>
      <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
        <input matInput placeholder="Recap your call" value="">
      </mat-form-field>
    </div>
    <div>
      <label>Amount</label>
      <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
        <input matInput placeholder="Recap your call" value="">
      </mat-form-field>
    </div>
    <div>
      <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
        Follow Up
      </mat-checkbox>
    </div>
  </div>
  <div class="footer">
    <div>
      <button mat-button class="glbl-btn">
        ADD
      </button>
    </div>
  </div>
</app-fmp-tero-card>


<div class="glbl-details-list">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Additional Information
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="ctrls-wrapper">
        <div>
          <label>Opportunity Owner</label>
          <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
            <input matInput placeholder="Recap your call" value="">
          </mat-form-field>
        </div>
        <div>
          <label>Opportunity Name</label>
          <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
            <input matInput placeholder="Recap your call" value="">
          </mat-form-field>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          System Information
        </mat-panel-title>

      </mat-expansion-panel-header>
      <div class="ctrls-wrapper">
        <div>
          <label>Opportunity Owner</label>
          <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
            <input matInput placeholder="Recap your call" value="">
          </mat-form-field>
        </div>
        <div>
          <label>Opportunity Owner</label>
          <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
            <input matInput placeholder="Recap your call" value="">
          </mat-form-field>
        </div>
        <div>
          <label>Opportunity Name</label>
          <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
            <input matInput placeholder="Recap your call" value="">
          </mat-form-field>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>

      </mat-expansion-panel-header>
      <div class="ctrls-wrapper">
        <div>
          <label>Opportunity Owner</label>
          <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
            <input matInput placeholder="Recap your call" value="">
          </mat-form-field>
        </div>
        <div>
          <label>Opportunity Name</label>
          <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
            <input matInput placeholder="Recap your call" value="">
          </mat-form-field>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>

      </mat-expansion-panel-header>
      <div class="ctrls-wrapper">
        <div>
          <label>Opportunity Owner</label>
          <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
            <input matInput placeholder="Recap your call" value="">
          </mat-form-field>
        </div>
        <div>
          <label>Opportunity Name</label>
          <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
            <input matInput placeholder="Recap your call" value="">
          </mat-form-field>
        </div>
      </div>
    </mat-expansion-panel>

  </mat-accordion>
</div>
