<div class="table-wrapper tbl-border">
  <div class="table-header">
    <div>
      <h5>Notes(1)</h5>
    </div>
    <div>
      <button mat-button class="glbl-btn xs-glbl-btn green-btn">
        Preview
      </button>
      <button mat-button class="glbl-btn xs-glbl-btn violet-btn">
        Add Note
      </button>
      <button mat-button class="glbl-btn  xs-glbl-btn blue-btn">
        Edit Notes
      </button>
      <button mat-button class="glbl-btn  xs-glbl-btn orange-btn">
        Delete
      </button>
      <span class="material-icons refresh" mat-icon-button>
        loop
      </span>
    </div>
  </div>
  <table mat-table [dataSource]="dataSource" class="glbl-tbl">



    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    <!-- <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
            Follow Up
          </mat-checkbox> -->
    <!-- Position Column -->
    <ng-container matColumnDef="check">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-1">
        <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">

        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-1">
        <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">

        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-6">
        Title
      </th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-6 pointer">
        <span>{{element.title}}</span>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="textpreview">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-4"> Text Preview</th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-4 "> <span>{{element.textpreview}}</span> </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="createdBy">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-4"> Created By </th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-4"> <span>{{element.createdBy}}</span> </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="lastmodified">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-6"> Last Modified </th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-6"> <span>{{element.lastmodified}}</span> </td>
    </ng-container>

    <ng-container matColumnDef="lastmodifiedby">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-3">Last Modified By </th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-6"> <span>{{element.lastmodifiedby}}</span> </td>
    </ng-container>

    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef class="tbl-xs-6"> Attachment </th>
      <td mat-cell *matCellDef="let element" class="tbl-xs-6">
        <mat-icon mat-icon-button class="edit">
          attach_file
        </mat-icon>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<app-fmp-tero-card>
  <div class="header">
    <div>
      <h5>Files(1)</h5>
      <div>
        <button mat-button class="glbl-btn xs-glbl-btn violet-btn">
          Add Files
        </button>
        <button mat-button class="glbl-btn  xs-glbl-btn orange-btn">
          Delete
        </button>
      </div>
    </div>

  </div>
  <div class="main">
    <div>
      <span>Customer-Dashboard</span>&nbsp;
      <span>July 1,2020 &nbsp;. 473KB &nbsp;.png</span>
    </div>
  </div>
</app-fmp-tero-card>
