app-registration,
app-login {
  .innerWrapper {
    background-color: #fbfbfb;
    @media (max-width: 768x) {
      & {
        height: 100vh;
      }
    }
    .app-header__content {
      padding: 15px 10px;
      box-shadow: 15px 0 21px -2px rgba(0, 0, 0, 0.21);
      background: #4753fd;
      background: linear-gradient(
        90deg,
        #4753fd 19%,
        #2291fa 60%,
        #00c8f9 100%
      );
      .app-header-right {
        .d-flex {
          .header-dots {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            .nav-link {
              display: inline-flex;
              align-items: center;
              padding: 0 10px;
            }
            .nav-link.iconImg img {
              margin: 0;
              border-radius: 100%;
              padding: 0;
              width: 35px;
            }
          }
        }
      }
    }
    .row.m-0 {
      margin: 0 !important;
      display: flex;
      /* flex-wrap: wrap; */
      margin-right: -15px;
      margin-left: -15px;
      @media (max-width: 768x) {
        & {
          display: none;
        }
      }
    }
  }
}

app-header {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;

  .mat-toolbar {
    padding: 10px 0px 10px 15px;
    box-shadow: 15px 0 21px -2px rgba(0, 0, 0, 0.21);
    background: #4753fd;
    background: linear-gradient(90deg, #4753fd 19%, #2291fa 60%, #00c8f9 100%);
    font-family: "Poppins", sans-serif;
    justify-content: space-between;
    &.inactive {
      .home-logo {
        button {
          transition: all 1.15s cubic-bezier(0.25, 0.8, 0.25, 1) !important ;
          img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
    &.active {
      .home-logo {
        button {
          // transform: translate3d(197px, 0px, 0px);
          // -webkit-transition: all 5s linear 0s;
          -webkit-transition: all 1.2s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
          transition: all 1.2s cubic-bezier(0.25, 0.8, 0.25, 1) !important ;
        }
      }
    }
    .home-logo {
      display: inline-flex;
      img {
        // height: 100%;
        // width: 160px;
      }
      button {
        .mat-button-wrapper {
          .mat-icon {
            font-size: 38px;
            height: 38px;
            width: 38px;
            color: #fff;
            position: relative;
            top: 3px;
          }
        }
      }
    }
    .home-content {
      display: inline-flex;
      align-items: center;
      > div.elementor-inner {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        // margin-left: 10px;
        min-width: 250px;
        .header-dots {
          display: inline-flex;
          align-items: center;
          .nav-link.iconImg {
            padding: 5px 5px;
            > .mat-icon {
              color: #fff;
              font-size: 34px;
              width: 34px;
              height: 34px;
              cursor: pointer;
            }
            img {
              padding: 5px 5px;
              cursor: pointer;
              &.refresh {
                width: 26px;
              }
              &.user {
                width: 36px;
              }
              &.help {
                width: 28px;
              }
            }
          }
        }
      }
    }
  }
}

app-left-panel {
  .left-wrapper {
    height: 100%;
    width: 100%;
    .logo {
      background: #545456;
      color: #fbfbfb;
      padding: 30px 20px 30px 15px;
      border-top-right-radius: 26px;
      > span {
        display: block;
        &:first-child {
          font: 100 22px "Poppins", sans-serif;
        }
        &:nth-child(2) {
          font: 500 22px "Poppins", sans-serif;
        }
      }
    }
    .mat-list {
      // height: 100%;
      background: #3d3c41;
      // max-height: 80vh;
      // overflow: auto;
      .mat-list-item {
        color: #fbfbfb;
        font: 100 14px "Poppins", sans-serif;
        height: 40px;
        padding: 2px 0;
        cursor: pointer;
        &:hover {
          background: #323233;
        }
        .mat-list-item-content {
          padding: 0 10px;
          .mat-icon {
            font-size: 20px;
            width: 20px;
            height: 20px;
            padding: 4px 10px 4px 0;
          }
          .fa {
            font-size: 15px;
            width: 20px;
            height: 20px;
            padding: 4px 10px 4px 0;
          }
          img {
            width: 20px;
            height: 20px;
            padding: 4px 10px 4px 0;
            &.customer {
              width: 22px;
              height: 27px;
            }
          }
        }
        &.slide-in-up {
          height: auto;
          padding: 3px 0;
          .mat-list-item-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            cursor: pointer;
            .slide-inner {
              display: inline-flex;
              align-items: center;
              justify-content: flex-start;
              width: 100%;
              > div {
                display: inline-flex;
                justify-content: space-between;
                width: 100%;
                align-items: center;
                > .mat-icon {
                  font-size: 20px;
                  width: 20px;
                  height: 20px;
                }
              }
            }
          }
          &.active {
            & + .glbl-open-advance {
              display: block;
            }
          }
        }
      }
      .glbl-open-advance {
        display: none;
      }
      ul {
        margin: 0;
        padding: 0 0 0 30px;
        list-style: none;
        font-size: 13px;
        li {
          display: block;
          cursor: pointer;
          color: #fbfbfb;
          font: 100 14px "Poppins", sans-serif;
          padding: 5px;
          &:focus {
            outline: none;
          }
          img {
            width: 19px;
            height: 19px;
            margin-right: 5px;
          }
        }
      }
    }
  }
}

app-customer {
  display: block;
  padding: 20px;
  .customer-wrapper {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    flex-wrap: wrap;
    > div {
      flex: 1 1 100%;
      box-sizing: border-box;
      max-width: calc(100% / 3);
      @media (max-width: 1024px) {
        &.user-details,
        &.spending-details {
          flex: 1 1 100%;
          box-sizing: border-box;
          max-width: calc(60% - 100px);
        }
        &.currency-details {
          max-width: calc(100%);
          padding: 15px 0;
        }
      }
      @media (max-width: 1023px) {
        &.user-details,
        &.spending-details {
          flex: 1 1 100%;
          box-sizing: border-box;
          max-width: calc(100% / 1);
        }
        &.currency-details {
          flex: 1 1 100%;
          box-sizing: border-box;
          max-width: calc(100% / 1);
          padding: 15px 0;
        }
      }
      &.user-details,
      &.currency-details {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        > div {
          text-align: center;
          font: 100 15px "Poppins", sans-serif;
          .user {
            width: 96px;
            min-width: 96px;
            height: 96px;
            min-height: 96px;
            border-radius: 50%;
          }
          &.total {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            > div {
              padding: 0 20px;
              > span {
                padding: 5px 0;
                display: block;
              }
            }
          }
        }
      }
    }
  }
  .customer-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    .slider-icon {
      width: 30px;
      height: 30px;
      background: #4557fd;
      border-radius: 50%;
      margin: 0 10px;
      position: relative;
      top: -3px;
      > .material-icons {
        color: #fff;
        position: relative;
        top: 5px;
        left: 5px;
        font-size: 20px;
        width: 20px;
        height: 20px;
      }
    }
    .slider {
      margin: 0 10px;
      font-size: 12px;
      font-weight: 400;
    }
    .customers {
      border-radius: 50%;
      background: #fafafa;
      height: 27px;
      width: 28px;
      border: 2px solid #fbbb03;
      position: relative;
      top: 1px;
      margin-left: 10px;
      margin-bottom: 10px;
      mat-icon {
        font-size: 25px;
        width: 25px;
        height: 25px;
        position: relative;
        left: 2px;
        color: #843ce8;
      }
    }
  }
}
app-customer-tiles {
  .tiles-wrapper {
    align-items: center;
    justify-content: flex-start;
    // flex-flow: row wrap;
    box-sizing: border-box;
    display: flex;
    @media (max-width: 1024px) {
      & {
        flex-flow: row wrap;
      }
    }
    .tiles-inner {
      transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
      border-radius: 4px;
      box-shadow: 0 2px 4px 0 rgba(12, 0, 46, 0.04);
      //0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      background: #fff; //linear-gradient(50deg, #c5d429, #2e7d32);
      color: #3d3c41;
      flex: 1 1 100%;
      text-decoration: none;
      box-sizing: border-box;
      max-width: calc(100% / 6 - 10px);
      padding: 6px;
      text-align: center;
      margin: 5px 10px 0 0;
      @media (max-width: 1024px) {
        & {
          flex: 1 1 calc(25% - 5px);
          text-decoration: none;
          box-sizing: border-box;
          max-width: calc(25% - 10px);
          padding: 6px;
          text-align: center;
          margin: 5px 10px 0 0;
        }
      }
      &:focus,
      &:active,
      &:hover {
        outline: none;
      }
      cursor: pointer;
      @media (max-width: 748px) {
        & {
          flex: 1 1 calc(50% - 5px);
          box-sizing: border-box;
          max-width: calc(50% - 10px);
        }
      }
      &:last-child {
        margin-right: 0;
        // flex: 1 1 calc(25% - 0px);
        // box-sizing: border-box;
        // max-width: calc(25% - 0px);
        @media (max-width: 748px) {
          & {
            margin-right: 0;
            flex: 1 1 calc(50% - 10px);
            box-sizing: border-box;
            max-width: calc(50% - 10px);
          }
        }
      }
      &.user-details {
        border-top: 3px solid #fec92d;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        &.active {
          background: linear-gradient(
            to right,
            rgba(251, 186, 0, 0.5),
            #fbba00
          );
          color: #fff;
          border-top: 3px solid #fff;
          color: #fff;
          border-top: 3px solid #fff;
        }
      }

      &.disputes {
        border-top: 3px solid #4753fd;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        &.active {
          background: linear-gradient(
            to right,
            rgba(196, 64, 58, 0.5),
            #4753fd
          );
          color: #fff;
          border-top: 3px solid #fff;
        }
      }
      &.proj {
        border-top: 3px solid #3ac43d;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        &.active {
          background: linear-gradient(
            to right,
            rgba(58, 196, 61, 0.5),
            #3ac43d
          );
          color: #fff;
          border-top: 3px solid #fff;
        }
      }
      &.group {
        border-top: 3px solid #843ce8;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        &.active {
          background: linear-gradient(
            to right,
            rgba(132, 60, 232, 0.5),
            #843ce8
          );
          color: #fff;
          border-top: 3px solid #fff;
        }
      }
      &.rp {
        border-top: 3px solid #cc9519;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        &.active {
          background: linear-gradient(
            to right,
            rgba(204, 149, 25, 0.5),
            #cc9519
          );
          color: #fff;
          border-top: 3px solid #fff;
        }
      }
    }
  }
}

app-overview {
  .overview-wrapper {
    padding: 15px 0;
    .overview-inner {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      > div {
        flex: 1 1 100%;
        box-sizing: border-box;
        max-width: calc(100% / 2 - 8px);
        margin-right: 8px;
        @media (max-width: 1024px) {
          & {
            flex: 1 1 100%;
            margin-right: 0px;
            box-sizing: border-box;
            max-width: calc(100% / 1);
          }
        }
        &.trends {
          // box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
          //   0 2px 4px -1px rgba(0, 0, 0, 0.06);
          border-top: 2px solid #fbbd0e;
          .trends-header {
            padding: 15px;
            font-weight: 600;
            font: 600 16px "Poppins", sans-serif;
            color: #3d3c41;
          }
          .trends-inner {
            > div {
              display: inline-flex;
              width: 100%;
              justify-content: center;
              align-items: center;
            }
            > div {
              app-fmp-tero-card {
                margin: 20px;
                .fmp-header {
                  text-align: center;
                }
                .fmp-content {
                  .main {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  }
                }
                ngx-charts-pie-chart {
                  @media (max-width: 1280px) {
                    & {
                      left: 5px;
                    }
                    @media (max-width: 1024px) {
                      & {
                        left: 22%;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

app-details {
  display: block;
  padding: 15px 0;
  app-fmp-tero-card {
    > .fmp-content {
      .main {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        > div {
          flex: 1 1 100%;
          box-sizing: border-box;
          max-width: calc(100% / 2 - 20px);
          margin-right: 20px;
          margin-bottom: 15px;
          &:nth-child(2n + 1) {
            max-width: calc(60% - 20px);
            margin-right: 20px;
          }
          &:nth-child(2n) {
            max-width: calc(40% - 20px);
            margin-right: 20px;
          }
          > label {
            font-size: 14px;
            padding: 7px 0;
            display: block;
            font-weight: 500;
            font: 600 12px "Poppins", sans-serif;
          }
        }
      }
    }
  }
}

app-admin-payment {
  .payment-wrapper {
    .payment-inner {
      background: #ebf0f3;
      display: flex;
      justify-content: space-between;
      padding: 10px 15px;
      > div {
        display: inline-flex;
        align-items: center;
        // justify-content: space-between;
        &.left {
          flex: 1 1 100%;
        }
        > div {
          display: inline-flex;
          align-items: center;
          &.customer-data {
            border-left: 2px solid #d2d2d2;
            padding-left: 20px;
            line-height: 20px;
            font: 600 13px/28px "Poppins", sans-serif;
            padding-right: 20px;
            > span {
              line-height: 20px;
            }
          }
          &.customer-search {
            padding-left: 20px;
            mat-form-field.mat-form-field.glb-ctrl-search {
              width: 100%;
              border: none;
              border-radius: 16px;
              background-color: #fafafa;
              box-shadow: none;
            }
            mat-form-field.mat-form-field.glb-ctrl-search
              .mat-form-field-wrapper
              .mat-form-field-prefix
              > mat-icon {
              color: #848484;
              font-size: 18px;
              margin-left: 4px;
            }
            mat-form-field.mat-form-field.glb-ctrl-search
              .mat-form-field-wrapper
              .mat-form-field-flex
              .mat-form-field-infix {
              padding: 3px 7px;
              border-top: 0px solid transparent;
              font: 400 14px/25px "Poppins", sans-serif;
              .mat-form-field-label-wrapper > label.mat-form-field-label {
                padding-left: 6px;
                position: relative;
                top: 3px;
                font-size: 13px;
              }
            }
          }
          &.date {
            width: 87px;
            padding-right: 25px;
            margin-right: 20px;
            mat-form-field.mat-form-field.glbl-datepicker {
              border: none;
              box-shadow: none;
              background: #ebf0f3;
              pointer-events: none;
            }
            .material-icons {
              margin-left: 0;
            }
          }
        }
      }
    }
    .payment-status {
      .ribbon {
        // display: grid;
        // font-size: 15px;
        // grid-gap: 1px;
        // grid-template-columns: repeat(3, 1fr) 1em;
        // margin-left: auto;
        // margin-right: auto;
        // margin-top: 1em;
        // width: 100%;
        min-height: 60px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background: #67bb48;
      }

      .ribbon__element {
        color: #fff;
        line-height: normal;
        padding: 5px 5px 5px 30px;
        position: relative;
        text-decoration: none;
        span {
          display: block;
          line-height: normal;

          &:nth-child(1) {
            font-size: 10px;
          }
          &:nth-child(2) {
            font-size: 12px;
            font-weight: 600;
          }
          &:nth-child(3) {
            font-size: 10px;
          }
        }
        &.overdue {
          background-color: #ea292d;
          z-index: 3;
          padding: 5px 5px 5px 20px;
          &:after {
            border-left-color: #ea292d;
          }
          &:before {
            display: none;
          }
        }
        &.current {
          background-color: #efcd5f;
          z-index: 2;
          &:after {
            border-left-color: #efcd5f;
          }
        }
        &.paid {
          background-color: #67bb48;
          z-index: 1;
          &:after {
            border-left-color: #67bb48;
          }
          &:before {
            transform: translateX(30px);
            border-bottom: 2em solid #ded5d500;
            border-left: 25px solid;
            border-top: 2em solid #ded8d800;
            color: #95cc6f;
          }
        }
        &:before {
          border-bottom: 2em solid transparent;
          border-left: 25px solid;
          border-top: 2em solid transparent;
          bottom: 0;
          content: "";
          height: 0;
          position: absolute;
          right: 0;
          top: 0;
          transform: translateX(24px);
          width: 0;
        }
        &:after {
          border-bottom: 2em solid transparent;
          border-left: 25px solid;
          border-top: 2em solid transparent;
          bottom: 0;
          content: "";
          height: 0;
          position: absolute;
          right: 0;
          top: 0;
          transform: translateX(24px);
          width: 0;
        }
      }
    }
    .payment-cards {
      display: flex;
      box-shadow: 0 2px 4px 0 rgba(12, 0, 46, 0.04);
      display: flex;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      flex-wrap: wrap;
      > div {
        flex: 0 0 20%;
        max-width: 20%;
        margin: 15px 0px;
        box-sizing: border-box;
        @media (max-width: 1024px) {
          & {
            flex: 1 1 100%;
            box-sizing: border-box;
            max-width: 33.333%;
          }
        }
        &.border {
          border-left: 2px solid #d0d0d0;
        }
        > div {
          padding: 0 45px;
          > span {
            display: inline-flex;
            width: 100%;
            align-items: center;
            justify-content: flex-start;
            line-height: normal;
            color: #2a2a2a;
            white-space: nowrap;
            .red {
              color: #ea292d;
            }
            .grey {
              color: #d0d0d0;
            }
            .green {
              color: #009b48;
            }

            &:nth-child(1) {
              font-size: 12px;
            }
            &:nth-child(2) {
              font-size: 25px;
              font-weight: 500;
              // line-height: 25px;
            }
            &:nth-child(3) {
              font-size: 12px;
            }
          }
        }
      }
    }
    .table-wrapper.dialog-tbl.tbl-border {
      border: none;
    }
  }
}
app-activity-task {
  background: #f8f8fa;
  color: #262629;
  position: fixed;
  left: auto;
  top: 110px;
  right: 0;
  bottom: 0;
  width: 20%;
  min-width: 250px;
  z-index: 4;
  // z-index: 9999;
  font: 300 14px/28px "Poppins", sans-serif;
  .tasker {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      border: 1px solid #d2d2d4;
      border-radius: 0;
      min-width: 200px;
      line-height: 39px;
      height: 39px;
      font: 500 14px/28px "Poppins", sans-serif;
    }
  }
  .mat-tab-group {
    .mat-tab-label-container {
      .mat-tab-list {
        .mat-ink-bar {
          display: none;
        }
        .mat-tab-labels {
          .mat-tab-label {
            height: 32px;
            padding: 0;
            cursor: pointer;
            box-sizing: border-box;
            opacity: 1;
            min-width: auto;
            width: 50%;
            text-align: center;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            white-space: nowrap;
            position: relative;
            background: #e2e4e6;
            font: 100 14px/28px "Poppins", sans-serif;
            &.mat-tab-label-active {
              background: #0066e5;
              color: #fff;
            }
          }
        }
      }
    }
    .mat-tab-body-content {
      overflow: hidden;
    }
    .upcoming-content {
      max-height: 465px;
      overflow: auto;
      padding: 20px 0;
      > div {
        padding: 0 5px;
        &:last-child {
          padding-bottom: 15px;
        }
        .accordion-content {
          display: block;
          padding: 8px 0px 0 10px;
          > div {
            padding-bottom: 20px;
            position: relative;
            .mat-divider {
              display: block;
              margin: 0;
              border-top-width: 1px;
              border-top-style: solid;
              position: relative;
              top: 10px;
              width: calc(100% - 70px);
              margin-left: 15px;
            }

            &.p-1 {
              border-left: 2px solid #0067e7;
            }
            &.p-2 {
              border-left: 2px solid #62b73f;
            }
            &.p-3 {
              border-left: 2px solid #de2328;
            }
            // &::before {
            //   content: "";
            //   width: 2px;
            //   height: 20%;
            //   position: absolute;
            //   top: 60px;
            //   left: 13px;
            //   background: #4bc076;
            //   z-index: 0;
            // }
            .accordion-content-header {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              position: relative;
              top: 0px;
              left: -9px;
              z-index: 9;
              background: #f8f8fa;
              // line-height: 10px;
              > div {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: flex-start;
                span {
                  color: #0066e5;
                  font-weight: 400;
                  font-size: 15px;
                }
                .mat-icon {
                  font-size: 18px;
                  width: 18px;
                  height: 18px;
                  margin-right: 4px;
                }
                &.p-1 {
                  .mat-icon {
                    color: #0067e7;
                  }
                }
                &.p-2 {
                  .mat-icon {
                    color: #62b73f;
                  }
                }
                &.p-3 {
                  .mat-icon {
                    color: #de2328;
                  }
                }
              }
            }
            .inner-accord-content {
              padding-left: 15px;
              div {
                font-size: 13px;
                font-weight: 400;
                & + span {
                  position: absolute;
                  right: 9px;
                  bottom: 0;
                  font-size: 10px;
                  font-weight: 500;
                  width: 36px;
                  height: 15px;
                  border: 2px solid #d7d7d8;
                  display: inline-flex;
                  align-items: center;
                  border-radius: 20px;
                  padding: 3px;
                  background: #f8f8fa;
                }
              }
            }
          }
        }
      }
      .upcoming-content-header {
        background: #e2e4e6;
        display: flex;
        align-items: center;
        width: 80%;
        margin: 5px 0;
        border-radius: 4px;
        &.active {
          & ~ .accordion-content {
            display: none;
          }
        }
      }
    }
  }
}
app-customer-list-dialog {
  .customers-list {
    > div {
      width: 32px;
      height: 32px;
      border: 2px solid #a8a8a8;
      border-radius: 50%;
      .mat-icon {
        transform: rotate(180deg);
        position: relative;
        top: 4px;
        left: 2px;
        color: #07bcf9;
      }
    }
  }
}
app-add-customer-dialog {
  .mat-tab-group {
    .mat-tab-label-container {
      .mat-tab-list {
        .mat-ink-bar {
          display: none;
        }
        .mat-tab-labels {
          .mat-tab-label {
            height: 32px;
            padding: 0;
            cursor: pointer;
            box-sizing: border-box;
            opacity: 1;
            min-width: auto;
            width: 50%;
            text-align: center;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            white-space: nowrap;
            position: relative;
            background: #e2e4e6;
            font: 100 14px/28px "Poppins", sans-serif;
            &.mat-tab-label-active {
              background: #0066e5;
              color: #fff;
            }
          }
        }
      }
    }
    .mat-tab-body-content {
      overflow: hidden;
    }
  }
  .account-details {
    .mat-expansion-panel {
      box-shadow: none;
      border-bottom: 1px solid #666;
      border-radius: 0 !important;
      .mat-expansion-panel-header {
        padding: 0 10px;
        font-weight: 500;
        font: 600 14px/28px "Poppins", sans-serif;
        background: #e6ebf1 !important;
        margin: 5px 0;
      }
      .mat-expansion-panel-content {
        .mat-expansion-panel-body {
          padding: 10px;
          .customer-details {
            display: flex;
            flex-wrap: wrap;
            > div {
              width: calc(50% - 20px);
              margin-right: 20px;
              margin-bottom: 10px;
              &.margin-none{
                margin-right: 0px;
              }
            }
          }
        }
      }
    }
  }
}

app-payment-activity-dialog {
  .confirm-header {
    position: relative;
    border: none;
    padding: 36px 24px;
    h1.mat-dialog-title {
      font-size: 30px;
      color: #4753fd;
      font-weight: 400;
    }
    .layer {
      width: 100%;
      position: absolute;
      top: 0;
      height: 4px;
      background: linear-gradient(
        90deg,
        #4753fd 19%,
        #2291fa 60%,
        #00c8f9 100%
      );
      margin-left: -24px;
    }
  }
  .dialog-content {
    padding: 0;
    > div {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      width: calc(100% - 20px);
      > div {
        width: calc(100% - 50px);
        margin-right: 20px;
        > div {
          margin-bottom: 20px;
          label {
            color: #000;
            font-size: 16px;
          }
        }
      }
    }
  }
  .dialog-footer {
    margin: 10px 0 0 0;
    button {
      min-width: 120px;
      font-weight: 400;
      .mat-button-wrapper .mat-icon {
        margin: 0 5px;
        font-size: 21px;
        width: 21px;
        height: 21px;
      }
      &.transparent {
        border: 1px solid #d2d2d2;
        background: #fff;
        color: #000;
        .cancel {
          color: #de2328;
        }
      }
    }
  }
}
app-customer-list-dialog {
  .dialog-content {
    .add-customer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-bottom: 10px;
      > div {
        border: 2px solid darkgrey;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        .mat-icon {
          position: relative;
          left: 2px;
          top: 2px;
          color: #3ac43d;
        }
      }
    }
    .table-wrapper.dialog-tbl.tbl-border {
      margin-top: 0px;
    }
  }
}
