<div class="tiles-wrapper">
  <a class="tiles-inner user-details" [routerLink]="['/customer/overview']" routerLinkActive="active">
    <span>Overview</span>
  </a>
  <a class="tiles-inner proj" [routerLink]="['/customer/details']" routerLinkActive="active">
    <span>Details</span>
  </a>
  <a class="tiles-inner group" [routerLink]="['/customer/invoices']" routerLinkActive="active">
    <span>Invoices</span>
  </a>
  <a class="tiles-inner user-details" [routerLink]="['/customer/reminder']" routerLinkActive="active">
    <span>Reminders & Actions</span>
  </a>
  <a class="tiles-inner group" [routerLink]="['/customer/notesfile']" routerLinkActive="active">
    <span>Notes & Files</span>
  </a>
  <a class="tiles-inner disputes" [routerLink]="['/customer/disputes']" routerLinkActive="active">
    <span>Disputes</span>
  </a>
</div>
