<div class="confirm-header">
  <h1 mat-dialog-title>Add A Log Call</h1>
  <!-- <button > -->
  <i mat-icon-button class="material-icons close pointer" [mat-dialog-close]='false'>close</i>
  <!-- </button> -->
</div>
<div class="dialog-content" [formGroup]="disputeForm">


  <div>
    <label>Subject</label>
    <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
      <input matInput placeholder="" value="" formControlName="subject">
    </mat-form-field>
    <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
      <div *ngIf="f.subject.errors.required">Subject is required</div>
    </div>
  </div>

  <div>
    <label>Owner Name</label>
    <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
      <input matInput placeholder="" value="" formControlName="Owner">
    </mat-form-field>
    <div *ngIf="submitted && f.Owner.errors" class="invalid-feedback">
      <div *ngIf="f.Owner.errors.required">Owner is required</div>
    </div>
  </div>


  <div>
    <label>Contact Name</label>
    <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
      <input matInput placeholder="" value="" formControlName="contactName">
    </mat-form-field>
    <div *ngIf="submitted && f.contactName.errors" class="invalid-feedback">
      <div *ngIf="f.contactName.errors.required">Contact Name is required</div>
    </div>
  </div>

  <div>
    <label>Last Activity</label>
    <mat-form-field   class="glbl-datepicker" [floatLabel]="'never'">
      <input matInput [matDatepicker]="picker" placeholder="Choose a date"
       [(ngModel)]="planModel.start_time"
        (ngModelChange)='dateChanged($event)' formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
      <div *ngIf="f.date.errors.required">Date is required</div>
    </div>
  </div>


  <div>
    <label>Name</label>
    <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
      <input matInput placeholder="" value="" formControlName="name">
    </mat-form-field>
    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
      <div *ngIf="f.name.errors.required">Name is required</div>
    </div>
  </div>



</div>



<div class="dialog-footer">
  <div class="dialog-footer">
    <button mat-button class="glbl-btn  green-btn" (click)='onSubmit()'>
      <span>Save</span>
    </button>
    <button mat-button class="glbl-btn" [mat-dialog-close]='false'>
      <span>Cancel</span>
    </button>
  </div>
</div>
