<div class="confirm-header">
  <h1 mat-dialog-title>Add A Log Call</h1>
  <!-- <button > -->
  <i mat-icon-button class="material-icons close pointer" [mat-dialog-close]='false'>close</i>
  <!-- </button> -->
</div>
<div class="dialog-content" [formGroup]="logACallForm">
  <div>
    <label>Subject</label>
    <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
      <input matInput placeholder="" value="" formControlName="subject">
    </mat-form-field>
    <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
      <div *ngIf="f.subject.errors.required">Subject is required</div>
    </div>
  </div>
  <div>
    <label>Commenets</label>
    <mat-form-field class="glb-textarea" [floatLabel]="'never'">
      <textarea matInput formControlName="comment"></textarea>
    </mat-form-field>
    <div *ngIf="submitted && f.comment.errors" class="invalid-feedback">
      <div *ngIf="f.comment.errors.required">Comment is required</div>
    </div>
  </div>
  <div>
    <label>Name</label>
    <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
      <input matInput placeholder="" value="" formControlName="name">
    </mat-form-field>
    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
      <div *ngIf="f.name.errors.required">Name is required</div>
    </div>
  </div>
  <div>
    <label>Related To</label>

    <mat-form-field class="glb-ctrl-search pad-xl" [floatLabel]="'never'">
      <input matInput placeholder="" [(ngModel)]="selectedItem" formControlName="relatedTo">
      <img matPrefix mat-button [matMenuTriggerFor]="menu" [attr.src]='imageItemPath'>
    </mat-form-field>
    <div *ngIf="submitted && f.relatedTo.errors" class="invalid-feedback">
      <div *ngIf="f.relatedTo.errors.required">RelatedTo is required</div>
    </div>
    <mat-menu #menu="matMenu" class="menu-xl">
      <button mat-menu-item (click)="selcetedItem('Accounts')">
        <img matPrefix mat-button src="assets/images1/account_120.png" class="blue">
        <span>Accounts</span>
      </button>
      <button mat-menu-item (click)="selcetedItem('Relationship')">
        <img matPrefix mat-button src="assets/images1/accounts/asset_relationship_120.png" class="green">
        <span>Relationship</span>
      </button>
      <button mat-menu-item (click)="selcetedItem('Maintenance')">
        <img matPrefix mat-button src="assets/images1/accounts/maintenance_plan_120.png" class="red">
        <span>Maintenance</span>
      </button>
      <button mat-menu-item (click)="selcetedItem('Invoice')">
        <img matPrefix mat-button src="assets/images1/accounts/product_120.png" class="blue">
        <span>Invoice</span>
      </button>
      <button mat-menu-item (click)="selcetedItem('Orders')">
        <img matPrefix mat-button src="assets/images1/accounts/orders_120.png" class="orange">
        <span>Orders</span>
      </button>
      <button mat-menu-item (click)="selcetedItem('Products')">
        <img matPrefix mat-button src="assets/images1/accounts/product_120.png" class="yellow">
        <span>Products</span>
      </button>
    </mat-menu>
  </div>

</div>
<div class="dialog-footer">
  <div class="dialog-footer">
    <button mat-button class="glbl-btn  green-btn" (click)='onSubmit()'>
      <span>Save</span>
    </button>
    <button mat-button class="glbl-btn" [mat-dialog-close]='false'>
      <span>Cancel</span>
    </button>
  </div>
</div>
