<div class="dialog-content">
  <mat-tab-group>
    <mat-tab label="Account Details">

      <div class="account-details">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header [collapsedHeight]="'40px'"  [expandedHeight]="'40px'">
              <mat-panel-title>
                Customer Details
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="customer-details">
              <div>
                <label>Code</label>
                <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
                  <input matInput placeholder="Recap your call" value="">
                </mat-form-field>
              </div>
              <div class="margin-none">
                <label>Name</label>
                <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
                  <input matInput placeholder="Recap your call" value="">
                </mat-form-field>
              </div>
              <div>
                <label>Company Name</label>
                <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
                  <input matInput placeholder="" value="">
                </mat-form-field>
              </div>
              <div class="margin-none">
                <label>Customer code</label>
                <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
                  <input matInput placeholder="" value="">
                </mat-form-field>
              </div>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header [collapsedHeight]="'40px'"  [expandedHeight]="'40px'">
              <mat-panel-title>
                Bussines Address
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="customer-details bussinesaddress">
              <div>
                <label>Address1</label>
                <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
                  <input matInput placeholder="Recap your call" value="">
                </mat-form-field>
              </div>
              <div class="margin-none">
                <label>Address2</label>
                <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
                  <input matInput placeholder="Recap your call" value="">
                </mat-form-field>
              </div>
              <div>
                <label>City</label>
                <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
                  <input matInput placeholder="" value="">
                </mat-form-field>
              </div>
              <div class="margin-none">
                <label>Country</label>
                <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
                  <input matInput placeholder="" value="">
                </mat-form-field>
              </div>
              <div>
                <label>Pin Code</label>
                <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
                  <input matInput placeholder="" value="">
                </mat-form-field>
              </div>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header [collapsedHeight]="'40px'"  [expandedHeight]="'40px'">
              <mat-panel-title>
                Bussiness Contact
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="customer-details  bussinesscontact">
              <div>
                <label>Email</label>
                <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
                  <input matInput placeholder="Recap your call" value="">
                </mat-form-field>
              </div>
              <div class="margin-none">
                <label>Website</label>
                <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
                  <input matInput placeholder="Recap your call" value="">
                </mat-form-field>
              </div>
              <div>
                <label>City</label>
                <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
                  <input matInput placeholder="" value="">
                </mat-form-field>
              </div>
              <div class="margin-none">
                <label>Phone</label>
                <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
                  <input matInput placeholder="" value="">
                </mat-form-field>
              </div>
              <div>
                <label>Mobile</label>
                <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
                  <input matInput placeholder="" value="">
                </mat-form-field>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

    </mat-tab>
    <mat-tab label="Contact">
      <div class="account-details">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header [collapsedHeight]="'40px'"  [expandedHeight]="'40px'">
              <mat-panel-title>
                Contact
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="customer-details  Contact">
              <div>
                <label>Name</label>
                <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
                  <input matInput placeholder="Recap your call" value="">
                </mat-form-field>
              </div>
              <div>
                <label>Address</label>
                <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
                  <input matInput placeholder="Recap your call" value="">
                </mat-form-field>
              </div>
              <div>
                <label>PhoneMobile</label>
                <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
                  <input matInput placeholder="" value="">
                </mat-form-field>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-tab>
    <mat-tab label="Fianace settings">
      <div class="account-details">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header [collapsedHeight]="'40px'"  [expandedHeight]="'40px'">
              <mat-panel-title>
                Fianace settings
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="customer-details  Contact">
              <div>
                <label>Bank Account</label>
                <mat-form-field class="glb-ctrl-search" [floatLabel]="'never'">
                  <input matInput placeholder="Recap your call" value="">
                </mat-form-field>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>
