<!-- <ng-container *ngIf='!isLogginPage'> -->

  <div class="base-container" [class.is-mobile]="mobileQuery.matches"
    [ngClass]="{'isbackdrop':isbackdrop,'notbackdrop':!isbackdrop}">
    <app-header (navToggle)="toggle($event)" *ngIf='!isLogginPage'></app-header>

    <mat-sidenav-container class="base-sidenav-container" (backdropClick)="close('backdrop')" [class.login]='isLogginPage'>
      <mat-sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
        [disableClose]='true'>
        <app-left-panel></app-left-panel>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

<!-- </ng-container> -->
<!--
<ng-container *ngIf='isLogginPage'>
  <router-outlet></router-outlet>
</ng-container> -->
