<div class="overview-wrapper">
  <div class="overview-inner">
    <div>
      <!-- <mat-chip-list aria-label="Fish selection">
        <mat-chip color="primary" appExpandMenu>Activity</mat-chip>
        <mat-chip color="primary" appExpandMenu>Chatter</mat-chip>
        <mat-chip color="primary" appExpandMenu>Stage History</mat-chip>
      </mat-chip-list> -->
      <mat-tab-group [animationDuration]="'0'">
        <mat-tab label="Activity">
          <app-fmp-tero-card>
            <div class="header">Task</div>
            <div class="main">
              <button mat-button class="glbl-btn lg-btn" (click)='openNewtask()'>
                Create A Task
              </button>
              <div class="upcoming-due">
                <div class="upcoming-header">
                  <span class="material-icons">
                    keyboard_arrow_right
                  </span>
                  <span>Upcoming & Due</span>
                </div>
                <div class="upcoming-content">
                  <ng-container *ngFor='let upcoming of customerTaskDetails ; let i = index'>
                    <div class="arrow-line">
                      <div>
                        <div class="upcoming-content-header" [class.active]="selectedIndex === i">
                          <span class="material-icons up" (click)="setIndex(i)">
                            keyboard_arrow_right
                          </span>
                          <span class="material-icons down" (click)="setIndex(i)">
                            keyboard_arrow_down
                          </span>
                          <span class="material-icons link-icon">
                            dns
                          </span>
                          <span class="pointer" (click)='openTaskDialog(upcoming)'>
                            <!-- <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                          </mat-checkbox>  -->
                            {{upcoming.Name}}
                          </span>
                        </div>
                        <div class="upcoming-description">
                          <b>{{upcoming.AssignedTo}} </b>&nbsp;<b>{{upcoming.Status}}</b> &nbsp;{{upcoming.Subject}}
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </app-fmp-tero-card>

        </mat-tab>
        <mat-tab label="Log A Call">
          <app-fmp-tero-card>
            <div class="header">Log a call</div>
            <div class="main">
              <button mat-button class="glbl-btn lg-btn" (click)='openLogCall()'>
                Log a call
              </button>

              <div class="upcoming-due">
                <div class="upcoming-header">
                  <span class="material-icons">
                    keyboard_arrow_right
                  </span>
                  <span>Log Details</span>
                </div>
                <div class="upcoming-content">
                  <ng-container *ngFor='let log of CustomerLogACallList ; let i = index'>
                    <div class="arrow-line">
                      <div>
                        <div class="upcoming-content-header" [class.active]="selectedIndex === i">
                          <span class="material-icons up" (click)="setIndex(i)">
                            keyboard_arrow_right
                          </span>
                          <span class="material-icons down" (click)="setIndex(i)">
                            keyboard_arrow_down
                          </span>
                          <span class="material-icons link-icon">
                            dns
                          </span>
                          <span class="pointer">
                            <!-- <mat-checkbox class="glbl-checkbox" [labelPosition]="'after'">
                          </mat-checkbox>  -->
                            {{log.Name}}
                          </span>
                        </div>
                        <div class="upcoming-description">
                          <b>{{log.RelatedTo}} </b>&nbsp;<b>{{log.Comments}}</b>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>

          </app-fmp-tero-card>
        </mat-tab>
        <mat-tab label="New Event">
          <app-fmp-tero-card>
            <div class="header">New Event</div>
            <div class="main">
              <button mat-button class="glbl-btn lg-btn" (click)='openEvent()'>
                New Event
              </button>
            </div>
          </app-fmp-tero-card>

        </mat-tab>
        <mat-tab label="Email">
          <app-fmp-tero-card>
            <div class="header">Email</div>
            <div class="main">
              <button mat-button class="glbl-btn lg-btn">
                Email
              </button>
            </div>
          </app-fmp-tero-card>
        </mat-tab>
      </mat-tab-group>




      <!-- <div class="glbl-details-list">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                This is the expansion title
              </mat-panel-title>
              <mat-panel-description>
                This is a summary of the content
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Self aware panel
              </mat-panel-title>
              <mat-panel-description>
                Currently I am
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Self aware panel
              </mat-panel-title>
              <mat-panel-description>
                Currently I am
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Self aware panel
              </mat-panel-title>
              <mat-panel-description>
                Currently I am
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div> -->



    </div>
    <div class="trends">
      <div class="trends-header">Payment trends</div>
      <div class="trends-inner">
        <div class="btn-list">
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="AI Analysis" class="active">AI Analysis</mat-button-toggle>
            <mat-button-toggle value="A/R Aging">A/R Aging</mat-button-toggle>
            <mat-button-toggle value="Plan Vs Actuals">Plan Vs Actuals</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div>
          <app-fmp-tero-card>
            <div class="header">Optimistic</div>
            <div class="main">
              <ngx-charts-pie-chart [view]="view" [scheme]="{domain: ['#4753fd', '#3ac43d', 'coral']}"
                [results]="seriesOpt" [legend]="true" [labels]="false" [gradient]="false" [arcWidth]="0.18"
                [doughnut]="true" [legendPosition]="'bottom'" [legendTitle]="''" [animations]="false"
                [labelFormatting]="pieChartLabelOpt.bind(this, seriesOpt)">
              </ngx-charts-pie-chart>
            </div>
          </app-fmp-tero-card>
          <app-fmp-tero-card>
            <div class="header">Pessimistic</div>
            <div class="main">
              <ngx-charts-pie-chart [view]="view" [scheme]="{domain: ['#4753fd', '#3ac43d', 'coral']}"
                [results]="seriesPes" [arcWidth]="0.18" [legend]="true" [gradient]="true" [labels]="false"
                [doughnut]="true" [animations]="false" [legendPosition]="'bottom'" [legendTitle]="''"
                [labelFormatting]="pieChartLabelPes.bind(this, seriesPes)">
              </ngx-charts-pie-chart>
            </div>
          </app-fmp-tero-card>
        </div>

      </div>

    </div>
  </div>
</div>
