<div class="tasker">
  <button mat-button class="task-btn" (click)='openPaymentTaskDialog()'>
    Create New Task <mat-icon>add</mat-icon>
  </button>
</div>
<mat-tab-group>
  <mat-tab label="Activity Log">

    <div class="upcoming-content">
      <ng-container *ngFor='let upcoming of NewTaskDummyArray ; let i = index'>
        <!-- [class.active]="selectedIndex === i" (click)="setIndex(i)" -->
        <div>
          <div class="upcoming-content-header" appExpandMenu>
            <span class="material-icons up">
              keyboard_arrow_right
            </span>
            <span>{{upcoming.taskHeader}}</span>
          </div>
          <div class="accordion-content" *ngFor='let tasks of upcoming.taskContent ; let i = index'>
            <div appExpandMenu [ngClass]='getClass(tasks.priority )'>
              <div class="accordion-content-header">
                <div [ngClass]='getClass(tasks.priority )'>
                  <mat-icon>check_circle</mat-icon>
                  <span>{{tasks.taskName}}</span>
                </div>
              </div>
              <div class="inner-accord-content">
                <div>
                  <span>{{tasks.description}}</span>
                </div>
                <span>{{tasks.date}}</span>
              </div>
              <mat-divider></mat-divider>
            </div>
          </div>
        </div>
      </ng-container>

    </div>

  </mat-tab>
  <mat-tab label="Task">

    <div class="upcoming-content">
      <ng-container *ngFor='let upcoming of NewTaskDummyArray ; let i = index'>
        <!-- [class.active]="selectedIndex === i" (click)="setIndex(i)" -->
        <div>
          <div class="upcoming-content-header" appExpandMenu>
            <span class="material-icons up">
              keyboard_arrow_right
            </span>
            <span>{{upcoming.taskHeader}}</span>
          </div>
          <div class="accordion-content" *ngFor='let tasks of upcoming.taskContent ; let i = index'>
            <div appExpandMenu [ngClass]='getClass(tasks.priority )'>
              <div class="accordion-content-header">
                <div [ngClass]='getClass(tasks.priority )'>
                  <mat-icon>check_circle</mat-icon>
                  <span>{{tasks.taskName}}</span>
                </div>
              </div>
              <div class="inner-accord-content">
                <div>
                  <span>{{tasks.description}}</span>
                </div>
                <span>{{tasks.date}}</span>
              </div>
              <mat-divider></mat-divider>
            </div>
          </div>
        </div>
      </ng-container>

    </div>


  </mat-tab>
</mat-tab-group>
