<ng-container *ngIf='!!customerDetails'>
<div class="customer-wrapper">
  <div class="user-details" #userDetails>
    <div>
      <img [src]='customerDetails.customer.ProfileImage' class="user"></div>
    <div class="info">
      <div class="name">{{customerDetails.customer.Name}}</div>
      <div class="email text-secondary">{{customerDetails.customer.Email}}</div>
    </div>
  </div>
  <div class="spending-details" #chartWrapper>
    <div class="row">
      <div class="chart-wrapper">
        <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="barChartData"
         [gradient]="false"
          [animations]='animations' [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel" [barPadding]="barPadding"  [showDataLabel]='showDataLabel' (select)="onSelect($event)"
          (window:resize)="onResize($event,chartWrapper.offsetWidth)">
        </ngx-charts-bar-vertical>
      </div>
    </div>
  </div>
  <div class="currency-details" #currencydetails>
    <div class="total">
      <div> <Span>Collected</Span>
        <Span>$16000</Span>
      </div>
      <div> <Span>Open</Span>
        <Span>$16000</Span>
      </div>
    </div>
  </div>
</div>

<div class="customer-controls">
  <div class="slider-icon pointer" mat-icon-button>
    <span class="material-icons">
      get_app
      </span>
  </div>
  <div class="slider">
    <mat-slide-toggle class="glbl-toggler">Reminder</mat-slide-toggle>

  </div>
  <div class="slider">
    <mat-slide-toggle class="glbl-toggler">Late Fees</mat-slide-toggle>

  </div>
  <div class="customers" (click)='showCustomers()'>
   <mat-icon matTooltip="Your Customers">people</mat-icon>

  </div>
</div>

<app-customer-tiles></app-customer-tiles>

<router-outlet></router-outlet>
</ng-container>
