<div class="left-wrapper">

  <div class="logo">
    <span>Fetch My</span>
    <span>Payments</span>
  </div>
  <mat-list role="list">
    <mat-list-item role="listitem">
      <!-- <mat-icon mat-list-icon>home</mat-icon> -->
      <img src="assets/images1/home.png" class="home">
      <span>Home</span>
    </mat-list-item>

    <mat-list-item role="listitem">
      <!-- <mat-icon mat-list-icon>home</mat-icon> -->
      <img src="assets/images1/reminder.png" class="reminder">
      <span>Create Reminders</span>
    </mat-list-item>

    <mat-list-item role="listitem"   (click)="navigateToPath('/customer/overview')">
      <img src="assets/images1/Customers.png" class="customer">
      <span>Customers</span>
    </mat-list-item>

    <mat-list-item role="listitem">
      <!-- <mat-icon mat-list-icon>home</mat-icon> -->
      <img src="assets/images1/Invoices.png" class="refresh">
      <span>Invoices</span>
    </mat-list-item>

    <mat-list-item role="listitem" (click)="navigateToPath('/admin/payment')">
      <!--    [routerLink]="['/admin/payment']" routerLinkActive="active"
        <mat-icon mat-list-icon>home</mat-icon> Payments-logo.png -->
      <img src="assets/images1/Payments.png" class="refresh">
      <span>Payments</span>
    </mat-list-item>

    <mat-list-item role="listitem" class='slide-in-up' appExpandMenu>
      <!-- <mat-icon mat-list-icon>home</mat-icon> -->
      <div class="slide-inner">
        <img src="assets/images1/Advanced.png" class="refresh">
        <div>
          <span>Advanced</span>
          <mat-icon mat-list-icon>keyboard_arrow_down</mat-icon>
        </div>
      </div>
    </mat-list-item>

    <div class="glbl-open-advance" @fade>
      <ul>
        <li>
          <img src="assets/images1/Payment.png" class="refresh">
          <span>Payment plans</span>
        </li>
        <li>
          <img src="assets/images1/Payment.png" class="refresh">
          <span>Recurring Payments</span>
        </li>
        <li>
          <img src="assets/images1/Payment.png" class="refresh">
          <span>Late Fees</span>
        </li>
      </ul>
    </div>


    <mat-list-item role="listitem">
      <img src="assets/images1/Reconciliation.png" class="refresh">
      <span>Reconcilliation</span>
    </mat-list-item>


    <mat-list-item role="listitem" >
      <img src="assets/images1/customer-portal.png" class="people">
      <span>Customer Portal</span>
    </mat-list-item>

    <mat-list-item role="listitem" class="slide-in-up" appExpandMenu>
      <div class="slide-inner">
        <img src="assets/images1/setup-icon.png" class="refresh">
        <div>
          <span>Setup</span>
          <mat-icon mat-list-icon>keyboard_arrow_down</mat-icon>
        </div>
      </div>
    </mat-list-item>

    <div class="glbl-open-advance" @fade>
      <ul>
        <li>
          <img src="assets/images1/Payment.png" class="refresh">
          <span>Projects</span>
        </li>
        <li>
          <img src="assets/images1/Payment.png" class="refresh">
          <span>Groups</span>
        </li>
        <li>
          <img src="assets/images1/Payment.png" class="refresh">
          <span>Role & permission</span>
        </li>
      </ul>
    </div>

  </mat-list>
</div>
